@import "./custom.scss";

.dashboard-container {
  display: flex;
}
.right-side {
  padding: 10px;
}
.dashboard-header {
  display: flex;
  gap: 20px;
}
select {
  appearance: none;
  background-color: transparent;
  color: $secondary;
  border: none;
  margin: 0;
  width: 100%;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

.selecter {
  display: flex;
  width: 200px;
  border: 1.5px solid $secondary;
  color: $secondary;
  border-radius: 7px;
  padding: 7px 15px;
  font-size: 20px;
  cursor: pointer;
  line-height: 1.1;
  background-color: $light;
  height: 40px;
}
