@import "./custom.scss";

.loginContainer {
    display: flex;
    flex-direction: row;
    padding: 10rem;
    height: 100%;
    justify-content: center;
    align-items: center;

}

.svgContainer {
    padding-left: -100px;
}

.mainSvg {
    margin-left: 0;
    padding-left: 0;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40rem;
    height: 68rem;
    background-color: $light-green;
    border: solid $secondary;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 35rem;
    background-color: $light-green;
    border: solid $secondary;
    border-radius: 20px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    padding: 3rem;

    @media (min-width: 640px) {
        height: auto;
        flex-direction: column;
    }

    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 1rem;


}

.formHeader {
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-size: 2.5rem;
    color: $primary;
    padding: 1rem;
    margin-bottom: 2REM;
    text-align: center;
    margin-left: -10px;
}

.divider {
    width: 100%;
    background-color: #e5e7eb;
    margin: 0.75rem 0;
    height: 0.25rem;
}

.wrapContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.textForm {
    font-weight: bold;
    color: $secondary;
    margin-bottom: 10PX;
}

.inputField {
    height: 1.8rem;
    border: solid 1.5px $secondary;
    border-radius: 5px;
}

.formBox {
    margin: 0;
    padding: 0;
}

.buttonGroup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    :hover {
        background-color: $secondary;
        color: $light-green;

    }

}

.loginButton,
.signupButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 8.6rem;
    height: 2rem;
    gap: 0.8rem;
    background-color: $light;
    border: solid 1px $secondary;
    border-radius: 5px;
    color: $secondary;
    font-weight: bold;
    font-size: 12px;

}

.buttonIcon {
    width: 1.5rem;
    color: $secondary;
}

.buttonIconSocial {
    width: 1rem;
}

.dividerGroup {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-color: $secondary;
}

.dividerText {
    font-weight: bold;
    color: $secondary;
}

.socialButtonGroup {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: -15px;
}

.socialButtonBase {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.8em;
    height: 2rem;
    font-size: 12px;
    transition: transform 0.3s ease-in-out;

}

.googleButton {
    background-color: red;
    border: none;
    border-radius: 5px;
    color: aliceblue;
}

.facebookButton {
    background-color: rgb(0, 85, 255);
    border: none;
    border-radius: 5px;
    color: aliceblue;
}

.socialButtonBase:hover {
    transform: scale(1.05)
}

.forgotPassword{
    margin-top: 2rem;
    text-align: right;
    margin-bottom: 2rem;
    font-weight: 600;
}

.footerText{
    font-size: 10px;
    color: $gray;
}